@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&display=swap");
@font-face {
  font-family: "Verdana", sans-serif;
  font-weight: normal;
  font-style: normal;
  src: url(../fonts/Verdana.ttf) format("ttf");
}
@font-face {
  font-family: "Verdana", sans-serif;
  font-weight: bold;
  font-style: normal;
  src: url(../fonts/Verdana-Bold.ttf) format("ttf");
}
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: #fff;
  text-decoration: none;
}

input, button {
  outline: none;
  border: 0;
}

ul {
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

@keyframes scale-in-out {
  0% {
    transform: scale(0.95);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(0.95);
  }
}
.bold {
  font-weight: 700;
}

.section-title {
  font-size: 45px;
  font-weight: bold;
  color: #4b4b4b;
}

.small-title {
  font-weight: bold;
  font-size: 30px;
  color: #4b4b4b;
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  background-color: #eb6423;
  font-size: 24px;
  font-family: "Verdana", sans-serif;
  color: #fff;
  cursor: pointer;
  transition: color 0.2s linear, background-color 0.2s linear, border-color 0.2s linear;
}
.btn-text {
  text-transform: uppercase;
}
.btn-signup {
  font-size: 20px;
}
.btn-small {
  font-size: 15px;
}

.select {
  position: relative;
}
.select--active .select__button::after {
  transform: translateY(-50%) rotate(180deg);
}

.select__button {
  position: relative;
  display: flex;
  align-items: center;
  gap: 15px;
  background: transparent;
  font-family: "Verdana", sans-serif;
  font-weight: 400;
  color: #fff;
  font-size: 15px;
  padding-right: 15px;
  cursor: pointer;
}
.select__button::after {
  content: "";
  position: absolute;
  top: calc(50% + 1px);
  right: 0;
  transform: translateY(-50%);
  transform-origin: center;
  width: 0;
  height: 0;
  border-width: 6px 5px 0 5px;
  border-color: #fff transparent transparent transparent;
  border-style: solid;
  transition: transform 0.2s linear;
  pointer-events: none;
}

.select__list {
  display: none;
  position: absolute;
  left: 0;
  top: 30px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  background: transparent;
  overflow: hidden;
  z-index: 1;
}
.select__list--visible {
  display: block;
}

.select__list-item {
  display: flex;
  align-items: center;
  gap: 15px;
  width: 100%;
  margin: 0;
  padding: 0;
  padding: 8px;
  background-color: transparent;
  color: #fff;
  font-family: "Verdana", sans-serif;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.2s linear;
}
.select__list-item:hover, .select__list-item:focus {
  background-color: rgba(0, 0, 0, 0.3);
}

.select__input-hidden {
  display: none;
}

.select__list--visible {
  display: block;
}

input {
  padding: 12px 16px;
  font-family: "Verdana", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #eb6423;
  border-radius: 8px;
  border: 1px solid rgba(235, 100, 35, 0.5);
}
input:focus {
  border-color: rgb(235, 100, 35);
}
input::-moz-placeholder {
  color: #eb6423;
  opacity: 0.3;
}
input::placeholder {
  color: #eb6423;
  opacity: 0.3;
}

body {
  font-family: "Verdana", sans-serif;
  font-size: 20px;
  line-height: 1.3;
  color: #fff;
}

.container {
  max-width: 1280px;
  width: 100%;
  padding: 0 40px;
  margin: 0 auto;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: transparent;
  padding: 0 20px;
  height: 75px;
  border-bottom: 1px solid #fff;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.header__logo {
  margin-right: 14px;
  flex-basis: 10%;
}

.header__navigation ul {
  display: flex;
  gap: 50px;
}
.header__navigation ul a {
  display: block;
  padding: 24px 0;
  position: relative;
}
.header__navigation ul a::before, .header__navigation ul a::after {
  content: "";
  position: absolute;
  bottom: 0;
  display: block;
  width: 0;
  height: 1px;
  background-color: #eb6423;
  transition: width 0.2s linear;
}
.header__navigation ul a::before {
  right: 50%;
}
.header__navigation ul a::after {
  left: 50%;
}
.header__navigation ul a:hover::before, .header__navigation ul a:hover::after {
  width: 50%;
}
.header__navigation ul .header__lang {
  flex-basis: 8%;
}

.intro {
  min-height: 100vh;
  padding: 75px 0;
  display: flex;
  align-items: center;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 75%, #5546aa 100%), url(../img/background/background-intro.jpg);
  background-size: cover;
}
.intro .container {
  position: relative;
}
.intro__inner {
  margin: 0;
  width: 70%;
}
.intro__content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.intro__content h1 {
  font-size: 45px;
}
.intro__swiper-navigation {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
  margin-top: 36px;
}
.intro__swiper-dots {
  width: -moz-fit-content !important;
  width: fit-content !important;
  display: flex;
  gap: 30px;
}
.intro__swiper-dot {
  background: url(../img/slider/dot.svg);
  width: 21px;
  height: 21px;
  cursor: pointer;
  opacity: 0.5;
}
.intro__swiper-dot-active {
  opacity: 1;
}
.intro__swiper-next, .intro__swiper-prev {
  background: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
}
.intro .tosite {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
  background: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
  animation-name: scale-in-out;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.cards {
  margin-top: -45px;
  padding-bottom: 95px;
}
.cards__inner {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 10px;
}
.cards__card {
  position: relative;
  border-radius: 8px;
  border-bottom: 7px solid #5546aa;
  padding: 15px;
  flex-basis: 30%;
}
.cards__card:nth-child(1) {
  background-color: #fff;
  background-image: url(../img/cards/backgrounds/1.png);
  background-position: right bottom;
  background-repeat: no-repeat;
}
.cards__card:nth-child(1) .cards__card-text {
  max-width: 45%;
}
.cards__card:nth-child(2) {
  background-image: linear-gradient(to bottom, #fff 25%, rgba(255, 255, 255, 0) 100%), url(../img/cards/backgrounds/2.jpg);
  background-size: cover;
}
.cards__card:nth-child(3) {
  background-image: linear-gradient(to bottom, #fff 25%, rgba(255, 255, 255, 0) 100%), url(../img/cards/backgrounds/3.png);
  background-repeat: no-repeat;
}
.cards__card-text {
  max-width: 60%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-family: "Golos Text", sans-serif;
  color: #000;
}
.cards__card-text h5 {
  font-size: 20px;
  font-weight: 500;
}
.cards__card-text p {
  font-size: 15px;
}
.cards__card-text p span {
  font-size: 18px;
  margin-bottom: 4px;
  font-weight: 500;
}
.cards__card > img {
  position: absolute;
  bottom: 15px;
  right: 15px;
}

.numbers {
  padding-bottom: 55px;
}
.numbers .container {
  position: relative;
}
.numbers__map {
  position: absolute;
  right: 0;
  top: 0;
}
.numbers__inner {
  padding: 100px 0;
  display: flex;
  gap: 30px;
}
.numbers__number {
  height: 215px;
  width: 215px;
  text-align: center;
  position: relative;
}
.numbers__number::after {
  content: "";
  position: absolute;
  top: 0;
  left: 1%;
  z-index: -1;
  width: 97%;
  height: 97%;
  border: 1px solid #C3C3C3;
  border-radius: 100%;
}
.numbers__number > div {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.numbers__number span {
  font-family: "Golos Text", sans-serif;
  font-weight: bold;
  font-size: 45px;
  color: #5546aa;
}
.numbers__number p {
  font-size: 13px;
  color: #000;
  max-width: 165px;
}

.contact {
  padding: 60px 0 90px;
  background-image: url(../img/background/background-contact.png);
  background-size: cover;
  position: relative;
  overflow: hidden;
}
.contact::before, .contact::after {
  content: "";
  position: absolute;
  bottom: 0;
  display: block;
  height: 100%;
  width: 50%;
  z-index: 1;
}
.contact::before {
  background: linear-gradient(225deg, rgba(255, 255, 255, 0) 0%, rgba(235, 100, 35, 0.1) 50%, rgba(235, 100, 35, 0.8) 100%);
  left: 0;
}
.contact::after {
  background: linear-gradient(135deg, rgba(255, 255, 255, 0) 0%, rgba(235, 100, 35, 0.1) 50%, rgba(235, 100, 35, 0.8) 100%);
  right: 0;
}
.contact__inner {
  max-width: 520px;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}
.contact .small-title {
  margin-bottom: 24px;
}
.contact__form {
  display: flex;
  flex-direction: column;
  gap: 25px;
  max-width: 412px;
}
.contact__form label {
  margin-top: -10px;
  font-size: 10px;
  color: #000;
}
.contact__form button {
  padding: 16px 0;
}
.contact__form button:focus, .contact__form button:hover {
  background-color: #5546aa;
}

.portfolio {
  padding: 98px 0;
}
.portfolio__title {
  margin-bottom: 35px;
}
.portfolio__tabs {
  width: 100%;
  border-bottom: 2px solid #C3C3C3;
  margin-bottom: 40px;
}
.portfolio__tabs button {
  background: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
  color: #4b4b4b;
  font-family: "Verdana", sans-serif;
  font-size: 20px;
  padding: 10px 70px;
  position: relative;
}
.portfolio__tabs button::before, .portfolio__tabs button::after {
  content: "";
  position: absolute;
  bottom: 0;
  display: block;
  width: 0;
  height: 2px;
  background-color: #eb6423;
  transition: width 0.2s linear;
}
.portfolio__tabs button::before {
  right: 50%;
}
.portfolio__tabs button::after {
  left: 50%;
}
.portfolio__tabs button:hover::before, .portfolio__tabs button:hover::after, .portfolio__tabs button.active::before, .portfolio__tabs button.active::after {
  width: 50%;
}
.portfolio__items {
  display: none;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}
.portfolio__items.active {
  display: flex;
}
.portfolio__item {
  color: #000;
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-basis: 30%;
}
.portfolio__item-image {
  position: relative;
  overflow: hidden;
  border-radius: 15px;
}
.portfolio__item-image img {
  -o-object-fit: cover;
     object-fit: cover;
}
.portfolio__item-image::after {
  content: "Перейти";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background-color: rgba(235, 100, 35, 0.5);
  transform: translateY(100%);
  transition: transform 0.2s linear;
}
.portfolio__item-image:hover::after {
  transform: translateY(0);
}
.portfolio__item-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.portfolio__item-name, .portfolio__item-desc {
  font-size: 20px;
}
.portfolio__item-chrs {
  display: flex;
  gap: 8px;
}
.portfolio__item-chrs li {
  background-color: #5546aa;
  padding: 5px 10px;
  font-size: 13px;
  gap: 5px;
  cursor: default;
}

.map {
  padding: 60px 0 80px;
  background-image: url(../img/background/background-map.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.map .container {
  position: relative;
}
.map__card {
  color: #000;
  background-color: #fff;
  box-shadow: 0px 0px 7px 0px rgba(160, 160, 160, 0.25);
  padding: 35px;
  border-radius: 15px;
  max-width: 550px;
  display: flex;
  flex-direction: column;
  gap: 26px;
}
.map__card-name {
  font-weight: 400;
  margin-bottom: 5px;
}
.map__card-prof {
  font-size: 15px;
  opacity: 0.5;
}
.map__card-photos {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.map__quotes {
  width: 84px;
}
.map__quote {
  margin-top: 10px;
}
.map__object {
  position: absolute;
  padding: 8px;
  background-color: #fff;
  color: #000;
  border-radius: 15px;
  display: flex;
  gap: 8px;
  max-width: 250px;
}
.map__object:nth-child(1) {
  right: 40px;
  top: 5%;
}
.map__object:nth-child(2) {
  left: 50%;
  top: 30%;
}
.map__object:last-child {
  bottom: 10%;
  right: 10%;
}
.map__object-icon {
  position: absolute;
  top: -23px;
  left: -23px;
}
.map__object-address {
  margin-bottom: 10px;
  font-size: 15px;
}
.map__object-desc {
  font-size: 10px;
}

.advantages {
  padding: 60px 0 120px;
}
.advantages__title {
  margin-bottom: 55px;
}
.advantages__inner {
  -moz-column-gap: 30px;
       column-gap: 30px;
  row-gap: 40px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
}
.advantages__advantage {
  border: 1px solid #C3C3C3;
  border-radius: 15px;
  padding: 20px 30px 20px 40px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  flex-basis: 36%;
  background-color: #fff;
  color: #000;
}
.advantages__advantage > img {
  margin-bottom: 10px;
  width: 79px;
}
.advantages__advantage-title {
  font-weight: 500;
  font-family: "Golos Text", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
}
.advantages__advantage p {
  font-size: 11px;
}
.advantages__advantage.secondary {
  background-color: #eb6423;
  color: #fff;
  gap: 5px;
}
.advantages__photo {
  flex-basis: 23%;
  border-radius: 15px;
  overflow: hidden;
}
.advantages__photo img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.ad {
  background-image: url(../img/background/background-ad.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 45px;
}
.ad__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.ad__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
}
.ad__title {
  text-transform: uppercase;
  font-size: 30px;
  font-family: "Golos Text", sans-serif;
  color: #fff;
  font-weight: 400;
}
.ad__title span {
  color: #e1c68f;
}
.ad__slogan {
  font-family: "Golos Text", sans-serif;
  text-transform: uppercase;
  font-size: 40px;
  letter-spacing: 5%;
  font-weight: 400;
  max-width: 350px;
}
.ad__slogan span {
  font-size: 65px;
  color: #e1c68f;
}
.ad__desc {
  font-size: 15px;
  padding-left: 48px;
  position: relative;
}
.ad__desc::before {
  content: "";
  display: block;
  width: 34px;
  height: 2px;
  background-color: #555862;
  position: absolute;
  left: 0;
  top: 11px;
}
.ad__link {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  font-weight: 500;
  font-family: "Golos Text", sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  padding: 24px 72px;
  background-color: #e1c68f;
  border-radius: 8px;
  transition: opacity 0.2s linear;
}
.ad__link:hover {
  opacity: 0.9;
}
.ad__imgs {
  flex-basis: 25%;
  position: relative;
}
.ad__zoom-tower {
  position: absolute;
  top: 30%;
  left: 0;
  transform: translateX(-100%);
}
.ad__nameboard {
  padding: 10px 12px;
  background-color: #fff;
  border-radius: 8px;
  color: #eb6423;
  font-weight: bold;
  font-size: 15px;
  max-width: 260px;
  position: absolute;
  bottom: 10%;
  left: 0;
  transform: translateX(-30%);
}

.about {
  padding: 56px 0 70px;
}
.about__inner {
  display: flex;
  align-items: center;
  gap: 30px;
}
.about__content {
  flex-basis: 40%;
  display: flex;
  flex-direction: column;
}
.about__title {
  margin-bottom: 25px;
}
.about__text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #4B4B4B;
  margin-bottom: 40px;
}
.about__text span {
  font-weight: 700;
  color: #eb6423;
}
.about__btn.btn {
  padding: 20px;
  border: 3px solid #eb6423;
  border-radius: 15px;
  font-weight: bold;
  color: #eb6423;
  background-color: transparent;
  transition: background-color 0.2s linear, color 0.2s linear;
}
.about__btn.btn:hover {
  background-color: #eb6423;
  color: #fff;
}

.team {
  padding-bottom: 96px;
}
.team__headline {
  color: #4B4B4B;
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 550px;
  margin-bottom: 30px;
}
.team__subtitle {
  font-size: 15px;
}
.team__members {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
  gap: 16px;
}
.team__member {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000;
  flex-basis: 30%;
  text-align: center;
}
.team__member-name {
  font-family: "Golos Text", sans-serif;
  font-weight: 500;
  font-size: 20px;
}
.team__member-prof {
  font-size: 15px;
  opacity: 0.5;
}

.bid {
  margin: 72px 0;
  padding: 24px 0 36px;
  background-color: #5546aa;
  position: relative;
}
.bid__title {
  color: #fff;
  margin-bottom: 25px;
}
.bid__form {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-bottom: 15px;
  width: 421px;
}
.bid__form input {
  color: #5546aa;
  border: 1px solid #fff;
}
.bid__form input:focus {
  border-color: #eb6423;
}
.bid__form input::-moz-placeholder {
  color: #5546aa;
}
.bid__form input::placeholder {
  color: #5546aa;
}
.bid__form button {
  padding: 16px;
  background-color: #fff;
  border: 1px solid #fff;
  color: #5546aa;
  font-size: 20px;
  font-weight: 700;
}
.bid__form button:focus, .bid__form button:hover {
  color: #fff;
  background-color: #5546aa;
  border-color: #fff;
}
.bid__agreement {
  max-width: 420px;
  font-size: 10px;
  margin-top: -10px;
}
.bid__photo {
  position: absolute;
  right: 40px;
  top: 50%;
  transform: translateY(-50%);
}

.news {
  padding: 100px 0 140px;
}
.news__title {
  margin-bottom: 40px;
}
.news__main {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  height: 270px;
  margin-bottom: 30px;
}
.news__photo {
  flex-basis: 65%;
  border: 1px solid #eb6423;
  border-radius: 15px;
  overflow: hidden;
}
.news__photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.news__info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-basis: 30%;
}
.news__info-title {
  font-family: "Golos Text", sans-serif;
  font-weight: 500;
  font-size: 25px;
  color: #eb6423;
}
.news__info-desc {
  font-family: "Golos Text", sans-serif;
  color: #000;
  font-size: 15px;
  opacity: 0.7;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  overflow: hidden;
  -webkit-box-orient: vertical;
}
.news__info-btn {
  font-size: 20px;
  font-weight: 700;
  padding: 16px;
}
.news__fade {
  position: relative;
}
.news__fade::after {
  content: "";
  width: 30%;
  height: 100%;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  background: linear-gradient(to left, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
}
.news__more {
  margin-bottom: 30px;
  overflow-x: auto;
  padding-bottom: 25px;
}
.news__more::-webkit-scrollbar {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
.news__more::-webkit-scrollbar-button {
  display: none;
}
.news__more::-webkit-scrollbar-thumb {
  background-color: #eb6423;
  border-radius: 10px;
}
.news__more-container {
  width: -moz-max-content;
  width: max-content;
  display: flex;
  gap: 28px;
  align-items: stretch;
}
.news__more-one {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 20%;
}
.news__more-one a {
  border-radius: 15px;
  overflow: hidden;
  display: block;
  position: relative;
}
.news__more-one a::after {
  content: "Читать полностью";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background-color: rgba(235, 100, 35, 0.5);
  transform: translateY(100%);
  transition: transform 0.2s linear;
}
.news__more-one a:hover::after {
  transform: translateY(0);
}
.news__more-one a img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.news__more-one h5 {
  font-family: "Golos Text", sans-serif;
  font-weight: 500;
  color: #000;
  font-size: 15px;
}
.news__more-btn {
  background-color: transparent;
  color: #eb6423;
  padding: 16px 80px;
  font-weight: bold;
  font-size: 20px;
  border: 1px solid #eb6423;
}
.news__more-btn:hover {
  background-color: #eb6423;
  color: #fff;
}

footer {
  padding: 60px 0 50px;
  background-color: #5546aa;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  font-family: "Golos Text", sans-serif;
  color: #fff;
}
footer a {
  transition: opacity 0.2s linear;
}
footer a:hover {
  opacity: 0.8;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.footer__left {
  flex-basis: 35%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer__contacts {
  margin-bottom: 36px;
}
.footer__contacts > h4 {
  margin-bottom: 25px;
}
.footer__contacts ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer__contacts ul li {
  display: flex;
  align-items: center;
  font-size: 20px;
  gap: 15px;
}

.footer__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 1;
}

.footer__social {
  display: flex;
  gap: 10px;
}

.footer__copyright {
  font-weight: 500;
  max-width: 410px;
  font-size: 20px;
}

.footer__right {
  flex-basis: 55%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.footer__nav {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.footer__nav ul {
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer__nav ul li {
  font-size: 20px;
}

.footer__form h4 {
  margin-bottom: 8px;
}
.footer__form > div {
  display: flex;
  gap: 14px;
}
.footer__form input {
  border: 0;
  border-bottom: 1px solid #fff;
  background: transparent;
  border-radius: 0px;
  padding: 12px;
  padding-left: 0;
  font-size: 18px;
  font-family: "Golos Text", sans-serif;
  color: #fff;
}
.footer__form input::-moz-placeholder {
  opacity: 0.5;
  color: #fff;
}
.footer__form input::placeholder {
  opacity: 0.5;
  color: #fff;
}
.footer__form button {
  border-radius: 8px;
  padding: 10px;
  border: 1px solid #fff;
  background: transparent;
  font-size: 15px;
}
.footer__form label {
  max-width: 310px;
  display: block;
  font-family: "Verdana", sans-serif;
  font-size: 10px;
}