@font-face {
  font-family: 'Verdana', sans-serif;
  font-weight: normal;
  font-style: normal;
  src: url(../fonts/Verdana.ttf) format('ttf');
}

@font-face {
  font-family: 'Verdana', sans-serif;
  font-weight: bold;
  font-style: normal;
  src: url(../fonts/Verdana-Bold.ttf) format('ttf');
}

@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&display=swap');
