@font-face {
  font-family: 'Verdana', sans-serif;
  font-weight: normal;
  font-style: normal;
  src: url(../fonts/Verdana.ttf) format('ttf');
}

@font-face {
  font-family: 'Verdana', sans-serif;
  font-weight: bold;
  font-style: normal;
  src: url(../fonts/Verdana-Bold.ttf) format('ttf');
}

@font-face {
  font-family: 'GolosText', sans-serif;
  font-weight: bold;
  font-style: normal;
  src: url(../fonts/GolosText-Bold.ttf) format('ttf');
}

@font-face {
  font-family: 'GolosText', sans-serif;
  font-weight: medium;
  font-style: normal;
  src: url(../fonts/GolosText-Medium.ttf) format('ttf');
}
