// Font Sizes
$fsTitle: 45px;
$fsSubtitle: 20px;
$fsText: 15px;
$fsSmall: 10px;

// Colors 
$cSecondary: #eb6423;
$cTertiary: #5546aa;
$cActive: #e1c68f;

// Gradients
$gSecondary: linear-gradient(to bottom, rgba(255, 255, 255, 0) 75%, $cSecondary 100%); 
$gTertiary: linear-gradient(to bottom, rgba(255, 255, 255, 0) 75%, $cTertiary 100%); 
$gWhite: linear-gradient(to bottom, #fff 25%, rgba(255, 255, 255, 0) 100%);

// Border Radiuses
$brSmall: 8px;
$brMedium: 15px;
$brBig: 50px;

// Font Families
$ffMain: 'Verdana', sans-serif;
$ffSecondary: 'Golos Text', sans-serif;
